<form [formGroup]="mainForm">
  <div class="row container divAlignCenter" style="margin-top: 10px">

    <div class="form-group col-md-3">
      <label for="cmbTipoCliente">Tipo de usuário</label>
      <select class="form-control" #cmbTipoCliente id="cmbTipoCliente" (change)="teste()" formControlName="cmbTipoCliente">
        <option>Pessoa Física</option>
        <option>Pessoa Jurídica</option>
      </select>
    </div>
      <div class="form-group col-3">
        <label for="nomeRazaoSocial" (click)="teste()">Nome/Razão Social</label>
        <input type="text" class="form-control" id="nomeRazaoSocial" formControlName="nomeRazaoSocial">
      </div>
      <div class="form-group col-3">
        <label for="exampleFormControlInput1">Cpf</label>
        <input type="text" class="form-control" id="cpfCnpj" formControlName="cpfCnpj">
      </div>
  </div>
  <div class="row container divAlignCenter" style="width: 100%; margin-left: auto; margin-right: auto;">

      <div class="form-group col-3">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group col-3">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" formControlName="senha">
      </div>
  </div>
  <div class="row container divAlignCenter" style="width: 100%; margin-left: auto; margin-right: auto;">

      <div class="form-group col-2">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep" maxlength="9">
      </div>
      <div class="form-group col-md-2">
        <label for="cidade">Cidade</label>
        <select class="form-control" #cidade id="cidade" (change)="teste()" formControlName="cidade">
          <option>Pelotas</option>
          <option>Piratini</option>
          <option>Rio Grande</option>
        </select>
      </div>
      <div class="form-group col-3">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" formControlName="logradouro">
      </div>

      <div class="form-group col-3">
        <label for="numero">Nº</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
      </div>

      <div class="form-group col-3">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro">
      </div>

      <div class="form-group col-3">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>

      <div class="form-group col-3">
        <label for="referencia">Referencia</label>
        <input type="text" class="form-control" id="referencia" formControlName="referencial">
      </div>

      <div class="form-group col-3">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" id="telefone" formControlName="telefone">
      </div>

  </div>
  <div class="col-md-12 flex" style="justify-content: center; display: flex;">
    <button type="button" class="btn btn-primary btn-lg" (click)="onSalvar()">Cadastrar</button>
  </div>
</form>
