<form [formGroup]="mainForm">
  <section class="sign-in">
    <div class="main">

      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="../../assets/images/signin-image.jpg" alt="sing up image"></figure>
            <a href="/registro" class="signup-image-link">Criar uma conta</a>
          </div>
          <div class="signin-form">
            <h2 class="form-title">Dados pessoais</h2>
              <div class="form-group">
                <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="email" id="email" formControlName="email" placeholder="Email" />
              </div>
              <div class="form-group">
                <label for="senha"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="senha" id="senha" placeholder="Senha" formControlName="senha" />
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" (click)="onLogin()" class="form-submit" value="Logar" />
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<!-- JS -->
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/js/main.js"></script>
