.divAlignCenter {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.body {
  background-color: white;
}

.matIcon {
  font-size: 25px;
  margin-left: 5px;
}

.inputBold {
  font-weight: bold;
}

