<form [formGroup]="mainForm">
  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="row classRow">
      <div class="col-md-3" *ngFor="let item of lojas; let i = index;">
        <div class="column">
          <div class="post-module">
            <div class="thumbnail">
              <img (click)="visualizarLoja(item)" style="height: 210px;" src="{{item.urlProfissional}}"/>
            </div>
            <div class="post-content" (click)="visualizarLoja(item)">
                  <h1 class="title">{{item.nome}}</h1>
              <h2 class="sub_title">{{item.cidade}}</h2>
              <div class="post-meta">
                <span class="timestamp">
                  </span><span class="comments"><i class="fa fa-comments"></i><a href="#"> x Comentários</a></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>